<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trail Microservice API</title>
</head>
<body>
    <h1>Welcome to the Trail Microservice API</h1>
    <p>This is the homepage of the Trail Microservice API.</p>
    <p>go to /apidocs to interact with the endpoints in my API</p>
    <ul>
        <li><a href="/apidocs">/apidocs</a>This is where you can find all my endpoints</li>
    </ul>
</body>
</html>